################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BeeGees/v16

# ArchDoc configuration (contains API keys)
.archdoc.config.json
